$FONTSIZE_LARGETITLE: 2rem;
$FONTSIZE_SMALLTITLE: 1.8rem;
$FONTSIZE_SUBTITLE: 1.6rem;
$FONTSIZE_CONTENT: 1rem;
$FONTSIZE_SMALLWORD: 0.8rem;

$FONTSIZE_LARGETITLE_RESPONSIVE: 1.6rem;
$FONTSIZE_SMALLTITLE_RESPONSIVE: 1rem;
$FONTSIZE_SUBTITLE_RESPONSIVE: 1rem;
$FONTSIZE_CONTENT_RESPONSIVE: 0.8rem;
$FONTSIZE_SMALLWORD_RESPONSIVE: 0.6rem;

$FONTWEIGHT_TITLE: 600;
$FONTWEIGHT_TITLE_RESPONSIVE: 600;
$FONTWEIGHT_SUBTITLE: 600;
$FONTWEIGHT_SUBTITLE_RESPONSIVE: 600;
$FONTWEIGHT_CONTENT: 300;
$FONTWEIGHT_CONTENT_RESPONSIVE: 300;

$HEIHT_HEADER: 13vh;
$HEIGHT_DROPDOWNMENU: 85vh;

$LINEHEIGHT_TITLE: 1.3;
$LINEHEIGHT_TITLE_RESPONSIVE: 1.3;
$LINEHEIGHT_SUBTITLE: 1.7;
$LINEHEIGHT_SUBTITLE_RESPONSIVE: 1.7;
$LINEHEIGHT_CONTENT: 2.2;
$LINEHEIGHT_CONTENT_RESPONSIVE: 1.9;

$LETTERSPACING_TITLE: 0.15rem;
$LETTERSPACING_TITLE_RESPONSIVE: 0.15rem;
$LETTERSPACING_SUBTITLE: 0.17rem;
$LETTERSPACING_SUBTITLE_RESPONSIVE: 0.1rem;
$LETTERSPACING_CONTENT: 0.05rem;
$LETTERSPACING_CONTENT_RESPONSIVE: 0.05em;

$BACKGROUNDCOLOR_HEADER: rgba(255, 255, 255, 0.5);
$BACKGROUNDCOLOR_MENUOPEN: #000;

$COLOR_PRIMARY: #2e7bb0;
$COLOR_PRIMARY_TRANSPARENT: #2e7db2cc;
$COLOR_SECONDARY: #063d63;
$COLOR_SUCCESS: #ffb800;

$BREAKPOINT_MD: 1200px;
