.custom_swiper_button {
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.custom_swiper_button_dark {
    border-color: black;
    background-color: black;
}

.imageContainer {
    position: relative;
    width: 100vw;
    height: 95vh;
}
