@use '../_variables/_variables.scss' as var;

$transitionTime: 0.4s;
$transitionTimingFunction: linear;

// default
.swiper {
    overflow: initial;
}
.swiper-slide {
    z-index: 0;
    // visibility: hidden;
}
.swiper-pagination.swiper-pagination-clickable {
    display: inline-block;
    position: absolute;
    width: fit-content;
    text-align: left;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
}
.swiper-pagination-bullet {
    width: fit-content;
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity $transitionTime $transitionTimingFunction;

    p {
        display: inline-block;
        color: white;
        font-size: 0.8rem;
        margin: 0px 8px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 1px;
        background-color: rgba(0, 0, 0, 0);
        transition: all $transitionTime $transitionTimingFunction;
    }

    &.swiper-pagination-bullet-dark {
        p {
            color: black;
        }
        span {
            background-color: black;
        }
    }
}
.swiper-pagination-bullet-active {
    p {
        color: white;
    }
    span {
        width: 60px;
        background-color: white;
    }

    &.swiper-pagination-bullet-dark {
        p {
            color: black;
        }
        span {
            background-color: black;
        }
    }
}

.custom-swiper-button {
    z-index: 12;
    &::after {
        content: none;
    }
}

.custom-swiper-button-middle-container {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 12;
    .custom-swiper-button-middle {
        position: relative;
    }
}

//  testing buttet and button
// .swiper-pagination-bullet,
// .custom-swiper-button-middle {
//     top: 5px;
//     left: 5px;
// }

// custom swiper button styling
