@use '../../_variables/_variables.scss' as var;

.carouselWrapper {
    width: 100vw;
    height: 100vh;

    .imageBox {
        position: relative;
        width: 100vw;
        height: 90vh;
    }

    .bg1Wrapper {
        $HEIGHT_WRAPPER1: 200px;
        $BOTTOM_WRAPPER1: 20%;

        @media screen and(max-width: 900px) {
            display: none;
        }
        position: absolute;
        bottom: 12%;
        transform: translateY($BOTTOM_WRAPPER1);
        height: $HEIGHT_WRAPPER1;

        .bg1Container {
            position: relative;

            .bg1Layer1 {
                position: absolute;
                width: 100vw;
                height: $HEIGHT_WRAPPER1;

                clip-path: polygon(0 30%, 20% 75%, 90% 0, 100% 80%, 100% 100%, 0 100%);
                background: var.$COLOR_SUCCESS;
            }
            .bg1Layer2 {
                position: absolute;
                width: 100vw;
                height: $HEIGHT_WRAPPER1;

                clip-path: polygon(0 50%, 20% 75%, 90% 0, 100% 80%, 100% 100%, 0 100%);
                background: linear-gradient(#46d1dc 0%, #2c78ad 42.97%, #063d63 100%);
            }
        }
    }
}

.market {
    @media screen and(max-width: 900px) {
        margin-top: 50px;
    }
    margin-top: 150px;
    position: relative;
    color: white;
    height: 60vh;
    z-index: -200;

    .bg2Wrapper {
        $HEIGHT_WRAPPER2: 100vw;
        $MINHEIGHT_LAYER: 1800px;
        $MINHEIGHT_RESPONSIVE_LAYER: 1350px;

        position: absolute;
        height: $HEIGHT_WRAPPER2;
        transform: translateY(-10%);
        top: 0%;

        @media screen and(max-width: 900px) {
            transform: translateY(-13%);
        }

        @media screen and(max-width: 600px) {
            transform: translateY(-20%);
        }

        .bg2Container {
            position: relative;

            .bg2Layer1 {
                position: absolute;
                width: 100vw;
                height: 100vw;

                background: var.$COLOR_SUCCESS;

                @media screen and(min-width: 901px) {
                    clip-path: polygon(21% 0, 85% 10%, 94% 5%, 100% 8%, 100% 34%, 30% 15%, 0 35%, 0 9%);
                    min-height: $MINHEIGHT_LAYER;
                }

                @media screen and (max-width: 900px) {
                    clip-path: polygon(24% 17%, 100% 29%, 100% 9%, 93% 12%, 12% 0, 0 7%, 0 38%);
                    min-height: $MINHEIGHT_RESPONSIVE_LAYER;
                }
            }
            .bg2Layer2 {
                position: absolute;
                width: 100vw;
                height: $HEIGHT_WRAPPER2;

                background: linear-gradient(#46d1dc 0%, #2c78ad 42.97%, #063d63 100%);

                @media screen and(min-width: 901px) {
                    clip-path: polygon(21% 0, 85% 10%, 94% 5%, 100% 8%, 100% 34%, 30% 15%, 0 35%, 0 12%);
                    min-height: $MINHEIGHT_LAYER;
                }

                @media screen and (max-width: 900px) {
                    clip-path: polygon(24% 17%, 100% 29%, 100% 9%, 93% 12%, 12% 0, 0 10%, 0 38%);
                    min-height: $MINHEIGHT_RESPONSIVE_LAYER;
                }
            }
            .bg2Layer3 {
                position: absolute;
                width: 100vw;
                height: $HEIGHT_WRAPPER2;
                background: lightblue;

                @media screen and(min-width: 901px) {
                    clip-path: polygon(0 70%, 15% 72%, 85% 62%, 100% 68%, 100% 66%, 100% 34%, 30% 15%, 0 35%);
                    min-height: $MINHEIGHT_LAYER;
                }

                @media screen and (max-width: 900px) {
                    clip-path: polygon(24% 17%, 100% 29%, 100% 94%, 85% 90%, 18% 100%, 0 97%, 0 38%);
                    min-height: $MINHEIGHT_RESPONSIVE_LAYER;
                }
            }
        }
    }
    .marketContent {
        position: absolute;
        width: 40vw;
        bottom: 0px;
        @media screen and (max-width: 900px) {
            width: 80vw;
            bottom: 200px;
        }
    }
}

.tech {
    min-height: 600px;
    height: 50vh;
    position: relative;
    .techContent {
        position: absolute;
        width: 40vw;
        right: 15%;
        bottom: 25%;
        @media screen and (max-width: 1536px) {
            right: 18%;
            width: 50vw;
        }

        @media screen and (max-width: 1200px) {
            right: 25%;
            width: 50vw;
        }
        @media screen and (max-width: 900px) {
            width: 60vw;
        }
        @media screen and (max-width: 600px) {
            width: 80vw;
            right: 0%;
        }
    }
}
