@use '../../../../public/styles/_variables/_variables.scss' as var;
.wrapper {
    @media screen and (min-width: 1201px) {
        right: 130px;
    }
    // @media screen and (max-width: 1200px) {
    //          right: 50px;
    // }
    @media screen and (max-width: 1200px) {
        right: 130px;
    }
    @media screen and (max-width: 600px) {
        display: none;
    }
    position: fixed;
    z-index: 20;
    top: 0;

    .container {
        position: relative;
        display: flex;

        .listContainer {
            position: relative;

            .list {
                position: absolute;
                top: 50%;
                left: 15px;
                height: 60%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @media screen and (max-width: 1200px) {
                    left: 30px;
                }

                .listItem {
                    width: fit-content;
                    word-break: keep-all;
                    background-color: transparent;

                    .listLink {
                        mix-blend-mode: difference;
                        color: var.$COLOR_SUCCESS;
                    }
                }
            }
        }
    }

    .scrollbarWrapper {
        position: relative;
        width: 3px;
        height: 100vh;
        background-color: var.$COLOR_SUCCESS;
        left: 80px;

        .scrollbarContianer {
            z-index: 100;
            height: 60%;
            width: 5px;
            background-color: aqua;
        }
    }
}
